

body {
  text-align: center;
  padding: 0;
  margin: 0;

  min-width: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --border: 1px solid black;
}

#error {
  color: red;
}

#board {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 44px;
  height: 46px;
  border: 1px solid whitesmoke;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.initial {
  background-color: whitesmoke;
}

#digits {
  width: 450px;
  height: 50px;
  display: flex;
  flex-wrap: no-wrap;

  color: black;
}

.number {
  width: 44px;
  height: 46px;
  border: 1px solid skyblue;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: gray;
}


.border-top {
  border-top: var(--border);
}

.border-bottom {
  border-bottom: var(--border);
}

.border-right {
  border-right: var(--border);
}

.border-left {
  border-left: var(--border);
}

